* {
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

article{
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width: 300px;
}

article img{
    width: 100px;
    border-radius: 10px;
}

article p {
    font-weight: bold;
    margin: 0;
}

article small {
    font-size: 0.8em;
    margin: 0;
}

article aside {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

hr {
    border: none;
    height: 1px;
    background-color: #c0c0c0;
    margin: 60px;
}